@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body, #__nuxt {
    height: 100%;
}

input,
textarea {
  background: none;
  border: none;
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 1;
}

img {
  max-width: 100%;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.container {
    max-width: 1440px;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 12px;
    }
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
