body {
    background: #F9F9F9;
    width: 100%;
    overflow-y: scroll;

    &-scroll {
        position: fixed;
        width: 100%;
        overflow-y: scroll;
    }
}

.bg-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: .2s;
    background: rgba(0, 0, 0, 0.45);

    z-index: -1;
    opacity: 0;

    &__active {
        z-index: 10 !important;
        opacity: 1 !important;
    }
}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #000000;
}

.scaleY {
    display: inline-block;
    overflow: hidden;
    height: 60px;
    transition: .2s;

    &-active {
        height: auto;
    }
}

.admin {
    max-width: 1440px;
    padding: 30px;
    margin: 0 auto;


    &-links {
        margin: 30px 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__items {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
            min-width: 200px;
        }
    }

    &__add {
        margin-top: 20px;
    }

    &__contents {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 4%;
    }

    &__content {
        min-height: 200px;

        &:first-child {
            width: 48%;
            padding: 0 !important;
            background: transparent !important;
        }

        &:last-child {
            padding: 20px;
            width: 48%;
            background: #fff;
        }
    }

    &__btns {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
